@import './Main.scss';


html {
    h1, h2, h3, h4, h5, h6, p, a, div, input {
        font-family: 'Rokkitt', serif;
        }
    body {
        width: 100%;
        // background-color: rgb(106, 106, 106);
        background-color: $primary2;
        // height: 100vh;

        .App {
            // background-color: $primary2;
            // width: 100%;
            display: flex;
            flex-wrap: wrap;


            .calContainer {
                // background-color: darkviolet;
                                // height: 100%;
                width: 95%;
                margin: 0 auto;
                // justify-content: center;
                // align-items: center;
                box-shadow: 10px 10px 40px 5px #7b5c9768;
                // border: $primary5 solid 1px;
                border-radius: 8px;
                box-shadow: 0px 0px 12px -2px $primaryBlack;



                .julianDaysComponent {
                    // width: 100%;
                    // height: 100%;
                    background-color: $primaryBlack;
                    // background-color: blue;
                    display: flex; //Incharge of Days grid
                    flex-wrap: wrap;
                    padding-top: 2px;
                    // position: relative;

                    .prev-year-padding, .prev-year-days, .current-year-days, .next-year-days, .next-year-padding {
                        background-color: $tertiary3;
                        width: calc(100% / 7);
                        height: calc(100vh/7);
                        color: black;
                        border: solid rgba(0, 0, 0, 0.6) 1px;
                        border-radius: 8px;
                        // cursor: pointer;
                        transition: background-color 0.2s;
                        display: flex;
                        flex-wrap: wrap;
                        // position: absolute;
                        // padding-bottom: 18%;
                        

                        @include iphone12Pro {
                            border-radius: 8px;
                        };

                        @include iphoneSE {
                            border-radius: 6px;
                        };
                    }

                    .prev-year-padding, .next-year-padding {
                        background-color: rgb(40, 40, 40);
                        color: rgba(0, 0, 0, 0.0);
                        transition: background-color 0.2s;
                    }

                    .prev-year-days, .current-year-days, .next-year-days{
                        color: $tertiary5;
                        transition: background-color 0.2s;
                        // position: relative;
                        // width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        overflow-y: auto;
                        overflow-x: hidden;

                        .current-year-days-Div {
                            // background-color: pink;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            
                            h6 {
                                font-size: 0.9rem;
                                padding: 3px 3px 0 3px;

                                @include Res500 {font-size: 0.7rem;}
                            }

                            .julianCountDiv {
                                background-color: $primary1;
                                color: $primary5;
                                height: fit-content;
                                width: 100%;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.224);
                                // display: flex;
                                // flex-wrap: wrap;
                                top: 0;
                                position: sticky;


                                .julianCount {
                                    // background-color: green;
                                    width: 50%;
                                    float: left;
                                    @include Res700 {width: 100%;}
                                }
        
                                .monthCount {
                                    // background-color: blue;
                                    width: 50%;
                                    float: right;
                                    display: flex;
                                    @include Res700 {width: 100%;}
                                }
                            }

    
                            .allEventsInDay {
                                // background-color: pink;
                                display: block;
    
                                .eventName {
                                    background-color: $secondary4;
                                    // background-color: red;
                                    color: $secondary1;
                                    border-radius: 3px;
                                    height: fit-content;
                                    max-width: 98%;
                                    text-align: center;
                                    margin: 0 2%;
                                    // padding: 0 2%;
                                    margin-bottom: 3%;
                                    box-shadow: 0px 1px 4px -1.2px $primaryBlack;

                                    .eventNameDiv {
                                        // background-color: red;
                                        width: 100%;
                                        
                                        h6 {
                                            // background-color: pink;
                                            width: 100%;
                                            font-size: 0.9rem;

                                            @include Res500 {font-size: 0.7rem;}
                                        }
                                    }

                                }

                                .eventName:hover {
                                    background-color: $secondary1;
                                    color: $secondary4;
                                    cursor: pointer;
                                }
                            }
                        }


                    }

                    .prev-year-days, .next-year-days {
                        background-color: grey;
                        color: rgb(174, 174, 174)
                    }

                    // .prev-year-days:hover , .current-year-days:hover, .prev-year-days:hover, .next-year-days:hover{
                    //     background-color: $tertiary1;
                    //     // border: solid $tertiaryWhite 1px;
                    //     cursor: pointer;
                    // }

                    // .prev-year-padding:hover, .next-year-padding:hover {
                    //     background-color: $tertiary1;
                    //     // border: solid $tertiaryWhite 1px;
                    //     cursor: pointer;
                        
                    // }

                    //#region Colors for each Month
                    // #Dec2 {
                    //     @include Dec2;
                    // }
                    #Jan {
                        @include Jan;
                    }
                    #Feb {
                        @include Feb;
                    }
                    #Mar {
                        @include Mar;
                    }
                    #Apr {
                        @include Apr;
                    }
                    #May {
                        @include May;
                    }
                    #Jun {
                        @include Jun;
                    }
                    #Jul {
                        @include Jul;
                    }
                    #Aug {
                        @include Aug;
                    }
                    #Sep {
                        @include Sep;
                    }
                    #Oct {
                        @include Oct;
                    }
                    #Nov {
                        @include Nov;
                    }
                    #Dec {
                        @include Dec;
                    }
                    // #Jan2 {
                    //     @include Jan2;
                    // }
                    //#endregion
                    
                }

            }
        }
    }

    .modal-open {
        .modal-dialog {
            .modal-content{ //this controls the entire modal
                // background-color: blue;
                
                .modal-header{
                    background-color: $secondary2;
                    div.modal-title {
                        // background-color: blue;
                        width: 100%;
                        h2 {
                            // background-color: red;
                            width: 100%;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                    }

                }
                .modal-body {
                    background-color: $secondary1;

                    .ModalBodyContent {
                        background-color: rgb(218, 208, 224);
                        // background-color: red;
                        display: flex;
                        flex-wrap: wrap;
                        width: 90%;
                        margin: 0 auto;
                        border: solid 1px $secondary3;
                        border-radius: 20px;
                        // padding: 10px 50px;
                        justify-content: center;
                        // align-items: center;
                        // text-align: center;

                        h3 {
                            margin-top: 10px;
                            text-align: center;
                            font-size: 1.2rem;
                            font-weight: bold;
                       
                        }

                        .ModalForm {
                            // background-color: yellowgreen;
                            display: flex;
                            flex-wrap: wrap;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            margin-top: 40px;
                            @include iphone12Pro {margin-top: 20px;}
                            @include iphoneSE {margin-top: 10px;}

                            label {
                                padding-left: 30px;
                                @include Res500 {
                                    // background-color: blue;
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 3px;
                                }
                            }

                            .ModalInput {
                                // background-color: green;
                                width: 90%;
                                margin: 0 auto;
                                margin-bottom: 10px;
                            }

                            input {
                                text-align: center;
                                justify-content: center;
                                align-items: center;
                                object-position: top;
                                
                            }

                            .ModalDescriptionDiv {
                                // background-color: blueviolet;
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;

                                #Description {
                                    // background-color: blue;
                                    // margin-bottom: 10px;
                                }
                            }

                        }



                        .PostButton {
                            // background-color: red;
                            width: 100%;
                            display: flex;
                            overflow: hidden;

                            Button {
                                width: 100%;
                                margin: 0 auto;
                                overflow: hidden;
                                background-color: $secondary4;
                                color: $secondary1;
                                border: solid 1px $secondary5;
                                border-radius: unset;
                                border-bottom-left-radius: 20px;
                                border-bottom-right-radius: 20px;
                            }
                            button:hover {
                                background-color: $secondary2;
                                color: $secondary5;
                                border: solid 1px $secondary4;
                            }
                        }
                    }


                }
                .modal-footer{
                    background-color: $secondary2;

                    .ModalFooterContent {
                        // background-color: blue;
                        width: 100%;
                        display: flex;
                        Button {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}
