@import './Main.scss';


html {

    body {
        width: 100%;
        // background-color: rgb(106, 106, 106);
        background-color: $primary2;
        // height: 100vh;

        .App {
            // background-color: $primary2;
            // width: 100%;
            display: flex;
            flex-wrap: wrap;

            .calContainer {
                // background-color: darkviolet;
                                // height: 100%;
                width: 95%;
                margin: 0 auto;
                // justify-content: center;
                // align-items: center;
                box-shadow: 10px 10px 40px 5px #7b5c9768;
                // border: $primary5 solid 1px;
                border-radius: 8px;
                box-shadow: 0px 0px 12px -1px $primaryBlack;



                .julianDaysComponent {
                        // width: 100%;
                        // height: 100%;
                        background-color: $primary4;
                        // background-color: blue;
                        display: flex; //Incharge of Days grid
                        flex-wrap: wrap;
                        padding-top: 2px;

                        .prev-year-padding, .prev-year-days, .current-year-days, .next-year-days, .next-year-padding {
                            background-color: $tertiary3;
                            border-width: 0.5em;
                            clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 99%);
                            width: calc(100% / 7);
                            height: calc(100vh/7);
                            color: black;
                            border: solid $primary5 1px;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: background-color 0.2s;

                            @include iphone12Pro {
                                border-radius: 8px;
                            };

                            @include iphoneSE {
                                border-radius: 6px;
                            };
                        }

                        .prev-year-padding, .next-year-padding {
                            background-color: rgb(40, 40, 40);
                            color: rgba(0, 0, 0, 0.0);
                            transition: background-color 0.2s;
                        }

                        .prev-year-days, .current-year-days, .next-year-days{
                            background-color: $tertiary3;
                            // background-color: blue;
                            color: $tertiary5;
                            transition: background-color 0.2s;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            // width: 100%;

                            h6 {
                                font-size: 14px;
                                padding: 3px 3px 0 3px;
                            }

                            .julianCount {
                                // background-color: green;
                                margin-right: auto;
                            }

                            .monthCount {
                                // background-color: blue;
                                margin-left: auto;
                                display: flex;
                            }

                            .allEventsInDay {
                                // background-color: pink;
                                height: fit-content;
                                // width: 100%;

                                .eventName {
                                    background-color: $tertiary1;
                                    // background-color: pink;
                                    color: $tertiary5;
                                    font-size: 14px;
                                    border-radius: 3px;
                                    height: fit-content;
                                    width: 100%;
                                    text-align: center;
                                    margin: 0 3px;
                                    margin-bottom: 5px;
                                    box-shadow: 1px 2px 3px -1.5px $tertiary5;
                                }
                            }
                        }

                        .prev-year-days, .next-year-days {
                            background-color: $tertiary2;
                        }

                        .prev-year-days:hover , .current-year-days:hover, .prev-year-days:hover, .next-year-days:hover{
                            background-color: $tertiary1;
                            // border: solid $tertiaryWhite 1px;
                            cursor: pointer;
                        }

                        .prev-year-padding:hover, .next-year-padding:hover {
                            background-color: $tertiary1;
                            // border: solid $tertiaryWhite 1px;
                            cursor: pointer;
                            
                        }
                    
                }

            }
        }
    }
}
