@import '../../styles/Main.scss';


body {

    .Header, .Footer{
        // background-color: rgb(200, 231, 241);
        // border: solid black 1px;
    }

    .Header {
        width: 100%;
        // min-height: 15vh;  // windowed view
        background-color: $primary2;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        // position: relative;
        position: sticky;
        // position: fixed;
        top: 0px;
        z-index: 1;

        // // Setting the responsivness for width changes for the Header
        // @include Res500 {
        //     height: 32vh;
        // };
        // @include iphone12Pro {
        //     height: 30vh;
        // };
        // // Setting the responsivness for height changes for the Header
        // @include Height1000 {
        //     background-color: coral;
        //     height: 20vh;
        // }
        // @include Height750 {
        //     background-color: coral;
        //     height: 25vh;
        // }

        .HeaderTopBlock {

            width: 30%;
            // background-color: blue;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;

            .titleDiv {
                width: 100%;
                // background-color: pink;
                display: flex;
                justify-content: center;
                align-items: center;
                h1 {
                    // @include Titleh1;
                    color: $secondary3;
                    font-size: 3em;
                    // @include Height1000 {font-size: 40px;}
                    // @include Height750 {font-size: 30px;}
                }
            }

            .yearDiv {
                width: 100%;
                // background-color: greenyellow;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                // align-items: center;
    
                .yearCountDiv {
                    width: 100%;
                    // background-color: coral;
                    h2 {
                        // @include Titleh1;
                        // background-color: aqua;
                        color: $secondary3;
                        font-size: 2em;
                        margin: 0 10px;
                        display: flex;
                        justify-content: space-around;
                    }
                    span {
                        width: 100%;
                        display: flex;
                        // background-color: fuchsia;
                        margin: 0 auto;
                        justify-content: space-between;
    
                        button {
                            width: 30%;
                            // margin: 0 auto;
                            // justify-content: space-between;
                            cursor: pointer;
                            color: $primary1;
                            background-color: $primary4;
                            border-radius: 5px;
                            border: solid 1px $primary5;
                            transition: background-color 0.2s;
                        }
    
                        button:hover {
                            background-color: $primary1;
                            color: $primary5;
                            border: solid 1px $primary5;
                        }
                    }
                }
            }

            .MainModal {
                width: 100%;
                margin: 0 auto;
            }

        }



        .monthsDiv {
            // background-color: mediumaquamarine;
            width: 95%;
            margin: 0 auto;
            // position: relative;

            .monthsContainer {
                width: 100%;
                display: flex;
                // background-color: orange;
                // position: absolute;
                justify-content: center;
                bottom: 2px;

                // @include Res500 {
                //     display: flex;
                //     flex-wrap: wrap;
                //     object-fit: contain;
                //     // position: unset;
                // };

                // @include iphone12Pro {
                //     display: flex;
                //     flex-wrap: wrap;
                //     object-fit: contain;
                //     // position: unset;
                // };

                .months {
                    background-color: $primary4;
                    color: $primaryWhite;
                    width: calc(100vw / 15);
                    height: 30px;
                    margin: 1px;
                        // border: solid 1px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid 1px $primary5;
                    border-radius: 5px;
                    transition: background-color 0.2s;

                    // @include Res900 {
                    //     font-size: 12px;
                    // }

                    // @include Res500 {
                    //     width: calc(100vw / 5);
                    //     font-size: 16px;
                    // };

                    // @include iphone12Pro {
                    //     width: calc(100vw / 5);
                    //     font-size: 15px;
                    //     // height: 20px;
                    // };

                    // @include iphoneSE {
                    //     width: calc(100vw / 6);
                    //     font-size: 12px;
                    //     // height: 20px;
                    // };

                }
                .months:hover {
                    background-color: $primary1;
                    color: $primary4;
                    border: solid 1px $primary5;
                    cursor: pointer;
                }

                //#region Colors for each Month
                #Dec2 {
                    background-color: rgb(5, 43, 181);
                }
                #Jan {
                    background-color: rgb(1, 128, 154);
                }
                #Feb {
                    background-color: rgb(8, 214, 166);
                }
                #Mar {
                    background-color: rgb(2, 144, 96);
                }
                #Apr {
                    background-color: rgb(4, 103, 35);
                }
                #May {
                    background-color: rgb(8, 196, 2);
                }
                #Jun {
                    background-color: rgb(201, 53, 4);
                }
                #Jul {
                    background-color: rgb(128, 32, 5);
                }
                #Aug {
                    background-color: rgb(119, 83, 6);
                }
                #Sep {
                    background-color: rgb(209, 121, 6);
                }
                #Oct {
                    background-color: rgb(175, 159, 9);
                }
                #Nov {
                    background-color: rgb(97, 4, 81);
                }
                #Dec {
                    background-color: rgb(5, 43, 181);
                }
                #Jan2 {
                    background-color: rgb(1, 128, 154);
                }
            //#endregion
            }
        }


        .daysOfWeek {
            width: 95%;
            margin: 0 auto;
            background-color: $primary2;
            // background-color: deeppink;
            display: flex;
            // justify-content: space-evenly;
            // align-items: center;
            border: solid 1px rgba(0, 0, 0, 0.798);

            .weekdays {
                width: calc(100% / 7);
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primaryBlack;
                border: solid 1px $primary4;
            }
        }
    }

    .Footer {
        background-color: $primary3;
        // opacity: 0;
        // width: 100%;
        // height: 5vh; // windowed view
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .footerContent {
            background-color: darkgray;
            
        }
    }

}