@import '../../styles/Main.scss';


body {

    .Header, .Footer{
        // background-color: rgb(200, 231, 241);
        // border: solid black 1px;
    }

    .Header {
        width: 100%;
        // min-height: 15vh;  // windowed view
        background-color: $primary2;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        // position: relative;
        position: sticky;
        // position: fixed;
        top: 0px;
        z-index: 1;

        // // Setting the responsivness for width changes for the Header
        // @include Res500 {
        //     height: 32vh;
        // };
        // @include iphone12Pro {
        //     height: 30vh;
        // };
        // // Setting the responsivness for height changes for the Header
        // @include Height1000 {
        //     background-color: coral;
        //     height: 20vh;
        // }
        // @include Height750 {
        //     background-color: coral;
        //     height: 25vh;
        // }

        .HeaderTopBlock {

            width: 30%;
            // background-color: blue;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            @include Res900 {width: 50;}
            @include Res700 {width: 60%;}
            @include Res500 {width: 70%;}
            @include iphone12Pro {width: 95%;}
            @include iphone5SE {width: 95%;}


            .titleDiv {
                width: 100%;
                // background-color: pink;
                display: flex;
                justify-content: center;
                align-items: center;
                h1 {
                    @include Titleh1;
                    font-size: 67px;
                    color: $secondary3;
                    @include Res1240 {font-size: 49px;}
                    @include Res900 {font-size: 38px;}
                    @include Res700 {font-size: 54px;}
                    @include Res500 {font-size: 49px;}
                    @include iphone12Pro {font-size: 55px;}
                    @include iphone5SE {font-size: 40px;}
                }
            }

            .yearDiv {
                width: 100%;
                // background-color: greenyellow;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                // align-items: center;
    
                .yearCountDiv {
                    width: 100%;
                    // background-color: coral;
                    h2 {
                        @include Titleh2;
                        // background-color: aqua;
                        // color: $secondary3;
                        font-size: 2em;
                        margin: 0 10px;
                        display: flex;
                        justify-content: space-around;
                    }
                    span {
                        width: 100%;
                        display: flex;
                        // background-color: fuchsia;
                        margin: 0 auto;
                        justify-content: space-between;
    
                        button {
                            width: 30%;
                            // margin: 0 auto;
                            // justify-content: space-between;
                            cursor: pointer;
                            color: $secondary3;
                            background-color: $secondary1;
                            border-radius: 5px;
                            border: solid 1px $secondary5;
                            transition: background-color 0.2s;
                        }
    
                        button:hover {
                            background-color: $primary1;
                            color: $primary5;
                            border: solid 1px $primary5;
                        }
                    }
                }
            }

            .MainModalDiv{
                // background-color: fuchsia;
                width: 100%;
                margin: 0 auto;
                margin-top: 3px;

                .MainModalComponent{
                    .MainModalPrimaryReturn {
                        .MainModalInsideTheModal {
                            text-align: right;
                        }

                    }

                }

                Button {
                    width: 100%;
                    background-color: $secondary3;
                    color: $secondary1
                }

                button:hover {
                    background-color: $secondary1;
                    color: $secondary3;
                    border: solid 1px $secondary4;
                }
                
                .Hello {
                    background-color: red;
                }
            }




        }



        .monthsDiv {
            // background-color: mediumaquamarine;
            width: 95%;
            margin: 0 auto;
            margin-top: 15px;
            // position: relative;

            .monthsContainer {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                // background-color: orange;
                // position: absolute;
                justify-content: center;
                bottom: 2px;

                // @include Res500 {
                //     display: flex;
                //     flex-wrap: wrap;
                //     object-fit: contain;
                //     // position: unset;
                // };

                // @include iphone12Pro {
                //     display: flex;
                //     flex-wrap: wrap;
                //     object-fit: contain;
                //     // position: unset;
                // };

                .months {
                    background-color: $primary4;
                    background-color: blue;
                    color: $primaryWhite;
                    width: calc(100vw / 16);
                    // width: 50%;
                    height: 30px;
                    margin: 1px;
                        // border: solid 1px black;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    border: solid 1px $primary5;
                    border-radius: 5px;
                    transition: background-color 0.2s;

                    @include Res900 {
                        font-size: 17px;
                    }

                    @include Res900 {
                        font-size: 15px;
                    }
                    @include Res700 {
                        width: calc(100vw / 8);
                        font-size: 15px;
                        height: 28px;
                    }

                    @include Res500 {
                        font-size: 13px;
                        height: 25px;
                    };

                    @include iphone12Pro {
                        font-size: 12px;
                        // height: 20px;
                    };

                    @include iphoneSE {
                        font-size: 11px;
                        width: calc(100vw / 6);
                        // height: 20px;
                    };

                    @include iphone5SE {
                        font-size: 10px;
                        // height: 20px;
                    };

                }
                .months:hover {
                    background-color: $primary1;
                    color: $primary4;
                    border: solid 1px $primary5;
                    cursor: pointer;
                }

                //#region Colors for each Month
                // #Dec2 {
                //     @include Dec2;
                // }
                #Jan {
                    @include Jan;
                }
                #Feb {
                    @include Feb;
                }
                #Mar {
                    @include Mar;
                }
                #Apr {
                    @include Apr;
                }
                #May {
                    @include May;
                }
                #Jun {
                    @include Jun;
                }
                #Jul {
                    @include Jul;
                }
                #Aug {
                    @include Aug;
                }
                #Sep {
                    @include Sep;
                }
                #Oct {
                    @include Oct;
                }
                #Nov {
                    @include Nov;
                }
                #Dec {
                    @include Dec;
                }
                // #Jan2 {
                //     @include Jan2;
                // }
                //#endregion
            }
        }

        //#region days of the week
        .daysOfWeek {
            width: 95%;
            margin: 0 auto;
            background-color: $primary3;
            // background-color: deeppink;
            display: flex;
            // justify-content: space-evenly;
            // align-items: center;
            border: solid 1px rgba(0, 0, 0, 0.798);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            
            .weekdays {
                width: calc(100% / 7);
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primaryBlack;
                // border: solid 1px $primary5;
            }
            #Sun {
                border: solid 1px $primary5;
                border-top-left-radius: 10px;
            }
            #Mon {
                border: solid 1px $primary5;
            }
            #Tue {
                border: solid 1px $primary5;
            }
            #Wed {
                border: solid 1px $primary5;
            }
            #Thu {
                border: solid 1px $primary5;
            }
            #Fri {
                border: solid 1px $primary5;
            }
            #Sat {
                border: solid 1px $primary5;
                border-top-right-radius: 10px;
            }
        }
        //#endregion days of the week
    }

    .Footer {
        background-color: $primary3;
        // opacity: 0;
        // width: 100%;
        // height: 5vh; // windowed view
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .footerContent {
            background-color: darkgray;
            
        }
    }

}