@import '../../styles/Main.scss';


body {

    .Header, .Footer{
        background-color: rgb(200, 231, 241);
        // border: solid black 1px;
    }

    .Header {
        width: 100%;
        height: 13vh;
        background-color: $primary5;
        // text-align: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .year {
            // background-color: blue;
            display: flex;
            justify-content: center;
            // align-items: center;
            span {
                @include Titleh2;
                font-size: 30px;
            }
        }

        .topHeaderContent {
            // background-color: $primary5;
            // color: $primary5;
            font-size: 50px;
            font-weight:200;
        }

        h1 {
            @include Titleh1;
            font-size: 50px;
        }
    }

    .Footer {
        background-color: $primary3;
        // opacity: 0;
        width: 100%;
        height: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .footerContent {
            background-color: darkgray;

        }
    }

}